{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1>{{title}}</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">MarsOne</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br>
    <div class="container" style="display: flex;
    justify-content: center;
    flex-flow: column;
    width: 510px;
    align-items: center;">
    {% set data = data|random %}
    <div align="center">
        {{data["name"]}} {{data["surname"]}}<br>
        <img src={{data["image"]}} width="400px" height="500px"><br>
        {{data["job"]}}
    </div><br>
    {% endblock %}
    </div>
</header>
